<div class="w-full h-screen flex justify-center items-center bg-secondary-100">
  <div class="w-2/4 h-[90%] bg-white">
    <!-- Form -->
    <div class="w-full h-[100px] flex items-center bg-secondary-200">
      <form
        [formGroup]="form"
        (ngSubmit)="addItem()"
        class="w-full flex items-center justify-center space-x-5"
      >
        <input
          class="input"
          type="text"
          placeholder="Name"
          formControlName="name"
        />
        <input
          class="input"
          type="text"
          placeholder="Description"
          formControlName="description"
        />
        <input
          class="input"
          type="number"
          placeholder="$"
          formControlName="value"
        />
        <button
          type="submit"
          class="bg-accent-500 w-[50px] h-[50px] rounded-full"
        >
          <i class="fa-solid fa-plus text-white"></i>
        </button>
      </form>
    </div>

    <div class="w-full h-[60px] bg-white flex justify-between items-center px-5">
     <span><input type="checkbox" /> select all</span>
     <i class="fa-light fa-trash text-error-500 cursor-pointer text-lg"></i>
    </div>

    <div class="w-full h-[calc(100%-230px)] flex justify-center items-center">
      <div class="overflow-auto w-full h-full">
        <div
          class="w-full h-16 flex justify-between bg-secondary-50 p-4 border-b border-secondary-200 list"
          *ngFor="let item of items"
        >
          <input type="checkbox" />

          <span>{{ item.name }}</span>

          <span>{{ item.description }}</span>

          <span>{{ item.value }}</span>

          <i class="fa-regular fa-grip-dots-vertical cursor-pointer"></i>
        </div>
      </div>
    </div>

    <div class="w-full bg-secondary-200 h-[80px]">̣total:${{ total }}</div>
  </div>
</div>
